<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.family.pet.mapper.PetMapper">

	<insert id="newPet" parameterType="Pet">
		<selectKey keyProperty="petindex" resultType="_int" order="BEFORE">
			select PET_seq.nextval from dual
		</selectKey>
		insert into PET
		(petindex, userid, mcategory, scategory, petname, sex, age, petsize, weight, hlength, nstate, petimg, memo)
		values( #{petindex}, #{userid}, #{mcategory}, #{scategory}, #{petname}, #{sex}, #{age}, #{petsize}, #{weight}, 
		#{hlength}, #{nstate}, #{petimg}, #{memo} )
	</insert>
	<select id="getPet" parameterType="int" resultType="Pet">
		select p.*, s.SCANAME as scaname, m.MCANAME as mcaname, u.nick as nick  
					from PET p
					left outer join Members u on p.userid = u.userid 
					left outer join SUBCATEGORY s on p.SCATEGORY = s.SCATEGORY 
				    left outer join MAINCATEGORY m on p.MCATEGORY = m.MCATEGORY 
				    where petindex = #{petindex}
	</select>
	<select id="getSameCategoryPet" resultType="Pet" >
		<![CDATA[
		select * from (select * from PET where scategory = #{param2} and userid not in (#{param1})
		 order by DBMS_RANDOM.RANDOM) 		 
		 where rownum <=5
		 ]]>
	</select>
	
	<select id="getSimilarAgePet" resultType="Pet">
		<![CDATA[
		select * from (select * from PET where (age between #{param2}-12 and #{param2}+12) 
		and userid not in (#{param1})order by DBMS_RANDOM.RANDOM)  where rownum <=5
		]]>
	</select>
	
	<select id="getNearPet" resultType="Pet">
		<![CDATA[
		select * from (select * from PET where userid not in (#{param1,jdbcType=VARCHAR})order by DBMS_RANDOM.RANDOM)
		]]>
	</select>
	
</mapper>